* {
    margin: 0;
    padding: 0;
    font-family: "Fascinate", system-ui;
}

body {
    height: 100vh;
    width: 100%;
    background-image: url('images/bbbgg.jpg');
    background-size: contain;
    background-repeat: no-repeat;
}

.genBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 35rem;
    margin-top: 5rem;
}

.btn {
    height: 5rem;
    width: 15rem;
    font-size: 1.5rem;
    font-weight: 200;
    /* background-color: rgb(110, 223, 183); */
    background-color: rgb(233, 81, 47);
    text-decoration: none;
    border: none;
    border-radius: 1rem;
    transition: 0.5s;
    cursor: pointer;

}
.btn:hover {
    transform: scale(1.2);
}

h2 {
    font-size: 4rem;
    margin-left: 30rem;
    margin-top: 2rem;
}

#pic {
    height: 25rem;
    width: 25rem;
    margin-top: 5rem;
    margin-left: 52rem;
    background-color: blue;
}

/* @media (max-width: 768px) {
    h2 {
        font-size: 2.2rem;
    }

    .image-generated {
        width: 90%;
        height: 16rem;
    }

    .btn {
        width: 11rem;
        height: 4rem;
        font-size: 1.1rem;
    }
} */